<template>
  <div class="ax-form-group row q-mb-lg">
    <div class="col-md-4 col-lg-5 col-xl-4 q-pr-md">
      <h4 v-if="title" class="q-mt-none">{{ title }}</h4>
      <p v-if="subtitle"><span v-html="subtitle"></span></p>
    </div>

    <div class="col-xs-12 col-md-8 col-lg-7 col-xl-8">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    subtitle: String
  }
}
</script>
