// app global css

h1
  font-size: 38px
  font-weight: bold
h2
  font-size: 30px
  font-weight: bold
h3
  font-size: 24px
  font-weight: bold
h4
  font-size: 18px
  font-weight: bold

.ax-form-group
  h4
    margin: 0
  .q-btn.submit
    min-width: 150px

aside
  .q-list
    padding: unset
