<template>
  <q-page class="q-pa-lg">
    <q-breadcrumbs class="q-mb-lg relative-position">
      <q-breadcrumbs-el :label="$t('home.title')" icon="home" to="/" replace/>
      <q-breadcrumbs-el
        :label="$t(`${$route.meta.module}.title`)"
        icon="verified_user"
        to="/roles"
      />
      <q-breadcrumbs-el :label="$t('core.roles.detail')" icon="edit"/>
    </q-breadcrumbs>

    <q-modal
      v-model="showAbility"
      :content-css="{minWidth: '500px', minHeight: '430px'}"
      @hide="updateAbility()"
    >
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-btn
            flat
            round
            dense
            v-close-overlay
            icon="keyboard_arrow_left"
            :title="$t('layout.goBack')"
          />
          <q-toolbar-title>{{ $t('core.roles.formRights') }}</q-toolbar-title>
        </q-toolbar>
        <div class="q-pa-md">
          <q-field
            class="q-pb-md"
            label-width="3"
            icon="iso"
            :label="$t('core.roles.inverted.title')"
          >
            <q-checkbox v-model="ability.inverted" :label="$t('core.roles.inverted.desc')"/>
          </q-field>
          <q-field
            class="q-pb-md"
            label-width="3"
            icon="build"
            :label="$t('core.roles.actions.title')"
          >
            <q-select multiple v-model="ability.actions" :options="abilityActions"/>
          </q-field>
          <!-- chips input with static list -->
          <q-field
            class="q-pb-md"
            label-width="3"
            icon="dns"
            :label="$t('core.roles.subject.title')"
          >
            <q-select multiple v-model="ability.subject" :options="abilitySubject"/>
          </q-field>
          <q-field
            class="q-pb-md"
            label-width="3"
            icon="check_circle"
            :label="$t('core.roles.conditions.title')"
          >
            <q-input v-model.trim="ability.conditions" type="textarea"/>
          </q-field>
          <q-field
            class="q-pb-md"
            label-width="3"
            icon="extension"
            :label="$t('core.roles.fields.title')"
          >
            <q-input v-model.trim="ability.fields" type="text"/>
          </q-field>
          <!-- iso, dns, check_circle, extensions-->
          <div class="q-pt-md float-right">
            <q-btn color="primary" icon="close" v-close-overlay :label="$t('layout.form.close')"/>
          </div>
        </div>
      </q-modal-layout>
    </q-modal>

    <ax-loader :loading="loading" :sending="sending">
      <ax-form-group :title="$t('core.roles.formMeta')" :subtitle="$t('core.roles.formMetaDesc')">
        <q-field
          class="q-pb-md"
          label-width="4"
          icon="stars"
          :label="$t('core.roles.name.title')"
          :error="$v.role.name.$error"
          :error-label="$t('core.roles.name.error')"
        >
          <q-input v-model.trim="role.name" type="text" autofocus @blur="$v.role.name.$touch"/>
        </q-field>

        <q-field
          class="q-pb-md"
          label-width="4"
          icon="mdi-file-document-box"
          :label="$t('core.roles.description.title')"
        >
          <q-input v-model.trim="role.description" type="textarea"/>
        </q-field>

        <q-field
          class="q-pb-md"
          label-width="4"
          icon="mdi-cancel"
          :label="$t('core.roles.disabled.title')"
        >
          <q-checkbox v-model="role.disabled" :label="$t('core.roles.disabled.desc')"/>
        </q-field>
      </ax-form-group>

      <ax-form-group
        :title="$t('core.roles.formRights')"
        :subtitle="$t('core.roles.formRightsDesc')"
      >
        <q-table
          dense
          hide-bottom
          :data="role.abilities"
          :columns="columns"
          row-key="_id"
          :pagination.sync="tablePagination"
          table-class="q-pb-sm"
        >
          <q-tr
            slot="body"
            slot-scope="props"
            :props="props"
            @click.native="editAbility(props.row)"
            class="cursor-pointer"
          >
            <td>{{ props.row.inverted ? 'Disallow' : 'Allow' }}</td>
            <td>{{ props.row.actions.map(e => e[0].toUpperCase() + e.substring(1)).join(', ') }}</td>
            <td>{{ props.row.subject.map(e => e[0].toUpperCase() + e.substring(1)).join(', ') }}</td>
            <td>
              <template v-for="el in Object.keys(props.row.conditions || {})">
                {{ el }}: {{ props.row.conditions[el] }}
                <br :key="el">
              </template>
            </td>
            <td>{{ props.row.fields.join(', ') }}</td>
          </q-tr>
        </q-table>
        <div style="text-align: right">
          <q-btn
            class="text-black q-mb-lg"
            color="neutral"
            icon="add"
            label="Add row"
            @click="editAbility()"
          />
        </div>
      </ax-form-group>

      <ax-form-group>
        <div style="text-align: center">
          <q-btn
            class="submit text-black"
            color="secondary"
            icon="delete"
            :label="$t('layout.form.delete')"
            @click="remove"
          />
          <q-btn
            class="submit"
            color="primary"
            icon="check circle"
            :label="$t('layout.form.save')"
            @click="store"
          />
        </div>
      </ax-form-group>
    </ax-loader>
  </q-page>
</template>

<style lang="stylus" scoped>
.q-table-container {
  box-shadow: none;
}

.q-table {
  background: yellow;

  thead {
    tr {
      height: auto;
    }

    th {
      font-weight: bold;
    }
  }

  tbody td {
    height: auto;
  }
}
</style>

<script>
import { required, minLength } from "vuelidate/lib/validators";
import axLoader from "components/axLoader";
import axFormGroup from "components/axFormGroup";

export default {
  // name: 'PageName',
  data: () => ({
    role: {
      disabled: false
    },
    tablePagination: {
      page: 1,
      rowsNumber: 100 // specifying this determines pagination is server-side
    },
    showAbility: false,
    ability: {
      inverted: false,
      actions: [],
      subject: [],
      conditions: "",
      fields: []
    },
    abilityActions: [
      { label: "Read", value: "read" },
      { label: "Update", value: "update" },
      { label: "Create", value: "create" },
      { label: "Remove", value: "remove" }
    ],
    abilitySubject: [
      { label: "Authentication", value: "authentication" },
      { label: "Info", value: "info" },
      { label: "Check", value: "check" },
      { label: "Users", value: "users" },
      { label: "Roles", value: "roles" }
    ],
    loading: true,
    sending: false
  }),
  computed: {
    columns() {
      return [
        {
          name: "inverted",
          required: true,
          label: this.$t("core.roles.inverted.title"),
          align: "left",
          field: "inverted"
        },
        {
          name: "actions",
          required: true,
          label: this.$t("core.roles.actions.title"),
          align: "left",
          field: "actions"
        },
        {
          name: "subject",
          required: true,
          label: this.$t("core.roles.subject.title"),
          align: "left",
          field: "subject"
        },
        {
          name: "conditions",
          required: true,
          label: this.$t("core.roles.conditions.title"),
          align: "left",
          field: "conditions"
        },
        {
          name: "fields",
          required: true,
          label: this.$t("core.roles.fields.title"),
          align: "left",
          field: "fields"
        }
      ];
    }
  },
  validations: {
    role: {
      name: { required, minLength: minLength(4) }
    }
  },
  methods: {
    editAbility(row) {
      this.ability = {
        __index: row ? row.__index : -1,
        inverted: row ? row.inverted : false,
        actions: row ? row.actions : [],
        subject: row ? row.subject : [],
        conditions:
          row && row.conditions
            ? Object.keys(row.conditions)
                .map(key => `${key}: ${row.conditions[key]}`)
                .join("\n")
            : "",
        fields: row ? row.fields.join(", ") : ""
      };
      this.showAbility = true;
    },
    updateAbility() {
      const index = this.ability.__index;
      if (index < 0) {
        // new record
        if (!this.ability.actions.length) return;
        const obj = {
          inverted: this.ability.inverted,
          actions: this.ability.actions,
          subject: this.ability.subject,
          conditions: {},
          fields: []
        };
        // split conditions into object
        obj.conditions = {};
        for (const el of this.ability.conditions.split(/\s*\n\s*/)) {
          const idx = el.indexOf(":");
          if (idx !== -1)
            obj.conditions[el.substr(0, idx)] = el.substr(idx + 1);
        }
        obj.fields = this.ability.fields.length
          ? this.ability.fields.split(/\s*,\s*/)
          : [];
        this.role.abilities.push(obj);
      } else if (!this.ability.actions.length) {
        // remove
        this.role.abilities.splice(index, 1);
      } else {
        // change
        const obj = this.role.abilities[index];
        obj.inverted = this.ability.inverted;
        obj.actions = this.ability.actions;
        obj.subject = this.ability.subject;
        // split conditions into object
        obj.conditions = {};
        for (const el of this.ability.conditions.split(/\s*\n\s*/)) {
          const idx = el.indexOf(":");
          if (idx !== -1)
            obj.conditions[el.substr(0, idx).trim()] = el
              .substr(idx + 1)
              .trim();
        }
        obj.fields = this.ability.fields.length
          ? this.ability.fields.split(/\s*,\s*/)
          : [];
      }
    },
    async store() {
      // validate
      this.$v.role.$touch();
      if (this.$v.role.$error) {
        console.error(this.$v.role.$error);
        this.$q.notify({
          icon: "error outline",
          message: this.$t("layout.form.error"),
          detail: this.$t("layout.form.errorDetail")
        });
        return;
      }
      // send to server
      try {
        this.sending = true;
        this.role = await this.$feathers
          .service("roles")
          .patch(this.role._id, this.role);
        this.$q.notify({
          color: "positive",
          icon: "check circle",
          message: this.$t("layout.form.saveSuccess", {
            type: this.$t("core.roles.type")
          })
        });
        this.$router.push("/roles");
      } catch (error) {
        console.error(error.message);
        this.$q.notify("ERROR: Saving data to server:" + error.message);
      }
      this.sending = false;
    },
    async remove() {
      try {
        this.sending = true;
        this.role = await this.$feathers.service("roles").remove(this.role._id);
        this.$q.notify({
          color: "positive",
          icon: "check circle",
          message: this.$t("layout.form.deleteSuccess", {
            type: this.$t("core.roles.type")
          })
        });
        this.$router.push("/roles");
      } catch (error) {
        console.error(error.message);
        this.$q.notify(
          "ERROR: Retrieving response from server: " + error.message
        );
      }
      this.sending = false;
    }
  },
  async created() {
    try {
      this.role = await this.$feathers
        .service("roles")
        .get(this.$route.params.id);
    } catch (error) {
      console.error(error.message);
      this.$q.notify("ERROR: Retrieving data from server: " + error.message);
      this.$router.push("/roles");
    }
    this.loading = false;
  },
  components: { axLoader, axFormGroup }
};
</script>
