<template>
  <q-page class="q-pa-lg">
    <q-breadcrumbs class="q-mb-lg">
      <q-breadcrumbs-el :label="$t('home.title')" icon="home" to="/"/>
      <q-breadcrumbs-el :label="$t(`${$route.meta.module}.title`)" icon="verified_user"/>
    </q-breadcrumbs>

    <ax-loader :loading="loading">
      <q-list link separator no-border>
        <q-list-header>{{ $tc('core.roles.list', roles.length, { count: roles.length }) }}</q-list-header>
        <q-item v-for="role in roles" :key="role._id" :to="'/roles/' + role._id">
          <q-item-side icon="keyboard_arrow_right"/>
          <q-item-main :label="role.name" :sublabel="role.description"/>
        </q-item>
      </q-list>
    </ax-loader>

    <div class="q-pt-md float-right">
      <q-btn
        class="submit"
        color="primary"
        icon="add"
        :label="$t('core.roles.createButton')"
        @click="$router.push('/roles/new')"
      />
    </div>
  </q-page>
</template>

<script>
import axLoader from "components/axLoader";

export default {
  // name: 'PageName',
  data: () => ({
    roles: [],
    loading: true
  }),
  async created() {
    try {
      const response = await this.$feathers.service("roles").find();
      this.roles = response.data;
    } catch (error) {
      console.error(error.message);
      this.$q.notify(
        "ERROR: Retrieving data from server: " + error.message + "."
      );
    } finally {
      this.loading = false;
    }
  },
  components: { axLoader }
};
</script>
