<template>
  <q-page class="q-pa-lg">
    <q-breadcrumbs class="q-mb-lg relative-position">
      <q-breadcrumbs-el :label="$t('home.title')" icon="home" to="/" replace/>
      <q-breadcrumbs-el :label="$t(`${$route.meta.module}.title`)" icon="account box" to="/users"/>
      <q-breadcrumbs-el :label="$t('core.users.detail')" icon="edit"/>
    </q-breadcrumbs>

    <ax-loader :loading="loading" :sending="sending">
      <ax-form-group :title="$t('core.users.formLogin')" :subtitle="$t('core.users.formLoginDesc')">
        <!-- blank fields to prevent auto fill -->
        <input type="text" style="display:none">
        <input type="password" style="display:none">

        <q-field
          class="q-pb-md"
          label-width="4"
          icon="email"
          :label="$t('core.users.email.title')"
          :error="$v.user.email.$error"
          :error-label="$t('core.users.email.error')"
        >
          <q-input
            v-model.trim="user.email"
            type="email"
            placeholder="myname@gmail.com"
            autofocus
            ref="email"
            @blur="$v.user.email.$touch"
          />
        </q-field>

        <q-field
          class="q-pb-md"
          label-width="4"
          icon="vpn key"
          :label="$t('core.users.password.titleNew')"
          :error="$v.user.password.$error || $v.user.passwordRepeat.$error"
          :error-label="$t('core.users.password.error')"
        >
          <q-input
            v-model.trim="user.password"
            type="password"
            @blur="$v.user.password.$touch(); $v.user.passwordRepeat.$touch()"
          />
          <br>
          <q-input
            v-model.trim="user.passwordRepeat"
            type="password"
            @blur="$v.user.password.$touch(); $v.user.passwordRepeat.$touch()"
            :placeholder="$t('core.users.password.retype')"
          />
        </q-field>
      </ax-form-group>

      <ax-form-group
        :title="$t('core.users.formPersonal')"
        :subtitle="$t('core.users.formPersonalDesc')"
      >
        <q-field
          class="q-pb-md"
          label-width="4"
          icon="photo camera"
          :label="$t('core.users.avatar.title')"
        >
          <a href="https://gravatar.com/" target="_blank">
            <img :src="user.avatar" :title="$t('core.users.avatar.link')">
          </a>
        </q-field>

        <q-field
          class="q-pb-md"
          label-width="4"
          icon="mdi-account-outline"
          :label="$t('core.users.nickname.title')"
          :error="$v.user.nickname.$error"
          :error-label="$t('core.users.nickname.error')"
        >
          <q-input v-model.trim="user.nickname" type="text" @blur="$v.user.nickname.$touch"/>
        </q-field>

        <q-field
          class="q-pb-md"
          label-width="4"
          icon="mdi-account"
          :label="$t('core.users.name.title')"
        >
          <q-input v-model.trim="user.name" type="text"/>
        </q-field>

        <q-field
          class="q-pb-md"
          label-width="4"
          icon="mdi-domain"
          :label="$t('core.users.position.title')"
          :error="$v.user.position.$error"
          :error-label="$t('core.users.position.error')"
        >
          <q-input v-model.trim="user.position" type="text" @blur="$v.user.position.$touch"/>
        </q-field>
      </ax-form-group>

      <ax-form-group :title="$t('core.users.formAccess')" v-if="$can('update', 'users')">
        <q-field
          class="q-pb-md"
          label-width="4"
          icon="mdi-cancel"
          :label="$t('core.users.disabled.title')"
        >
          <q-checkbox v-model="user.disabled" :label="$t('core.users.disabled.desc')"/>
        </q-field>
        <q-field
          class="q-pb-md"
          label-width="4"
          icon="verified_user"
          :label="$t('core.roles.title')"
        >
          <q-select multiple v-model="rolesValues" :options="rolesOptions"/>
          <!--
          <q-chips-input v-model="roles_chips" :placeholder="$t('layout.form.autocomplete')" 
            @duplicate="duplicate">
            <q-autocomplete @search="search" :debounce="100" />
          </q-chips-input>
          -->
        </q-field>
      </ax-form-group>

      <ax-form-group>
        <div style="text-align: center">
          <q-btn
            class="submit text-black"
            color="secondary"
            icon="delete"
            :label="$t('layout.form.delete')"
            @click="remove"
          />
          <q-btn
            class="submit"
            color="primary"
            icon="check circle"
            :label="$t('layout.form.save')"
            @click="store"
          />
        </div>
      </ax-form-group>
    </ax-loader>
  </q-page>
</template>

<script>
import { required, email, sameAs, minLength } from "vuelidate/lib/validators";
import { filter } from "quasar";
import axLoader from "components/axLoader";
import axFormGroup from "components/axFormGroup";
import crypto from "crypto";
import util from "util";

// import util from 'util'

export default {
  // name: 'PageName',
  data: () => ({
    user: {
      disabled: false,
      roles_id: []
    },
    roles: [],
    loading: true,
    sending: false
  }),
  computed: {
    rolesValues: {
      get() {
        return this.user.roles_id.map(e => e._id);
      },
      set(value) {
        this.user.roles_id = this.roles.filter(e => value.indexOf(e._id) != -1);
      }
    },
    rolesOptions: {
      get() {
        return this.roles.map(e => {
          return { label: e.name, value: e._id };
        });
      },
      set(value) {}
    }
    // roles_chips: {
    //   get () {
    //     return this.user.roles_id.map(e => e.name)
    //   },
    //   set (value) {
    //     value = value.filter(e => this.roles.map(m => m.name).indexOf(e) != -1)
    //     this.user.roles_id = this.roles.filter(e => value.indexOf(e.name) != -1)
    //   }
    // }
  },
  validations: {
    user: {
      email: { required, email },
      password: { minLength: minLength(6) },
      passwordRepeat: { sameAsPassword: sameAs("password") },
      nickname: { required, minLength: minLength(4) },
      position: { minLength: minLength(3) }
    }
  },
  watch: {
    "user.email"() {
      this.gravatar();
    },
    "$q.appVisible"(val) {
      if (val) {
        this.gravatar();
      }
    }
  },
  methods: {
    // search (terms, done) {
    //   setTimeout(() => {
    //     done(filter(terms, {field: 'value', list: this.roles.map(e => {
    //       return {
    //         value: e.name,
    //         label: e.name,
    //         sublabel: e.description,
    //         _id: e._id
    //       }
    //     })}))
    //   }, 1000)
    // },
    // duplicate (label) {
    //   this.$q.notify(this.$t('layout.form.duplicate', { role: label }))
    // },
    gravatar() {
      // update gravatar url
      if (this.$v.user.email.$error) {
        return;
      }
      const gravatarUrl = "https://www.gravatar.com/avatar";
      const query = "s=60&d=mm&" + Date.now();
      const hash = crypto
        .createHash("md5")
        .update(this.user.email.toLowerCase())
        .digest("hex");
      this.user.avatar = `${gravatarUrl}/${hash}?${query}`;
    },
    async store() {
      // validate
      this.$v.user.$touch();
      if (this.$v.user.$error) {
        console.error(this.$v.user.$error);
        this.$q.notify({
          icon: "error outline",
          message: this.$t("layout.form.error"),
          detail: this.$t("layout.form.errorDetail")
        });
        return;
      }
      // collect data to store
      const user = {};
      user.email = this.user.email;
      if (this.user.password) {
        user.password = this.user.password;
      }
      user.nickname = this.user.nickname;
      user.name = this.user.name;
      user.position = this.user.position;
      user.roles_id = this.user.roles_id;
      user.disabled = this.user.disabled;
      // send to server
      try {
        this.sending = true;
        this.user = await this.$feathers
          .service("users")
          .patch(this.user._id, user);
        this.$q.notify({
          color: "positive",
          icon: "check circle",
          message: this.$t("layout.form.saveSuccess", {
            type: this.$t("core.users.type")
          })
        });
        this.$router.push("/users");
      } catch (error) {
        console.error(error.message);
        this.$q.notify("ERROR: Saving data to server:" + error.message);
      }
      this.sending = false;
    },
    async remove() {
      try {
        this.sending = true;
        this.user = await this.$feathers.service("users").remove(this.user._id);
        this.$q.notify({
          color: "positive",
          icon: "check circle",
          message: this.$t("layout.form.deleteSuccess", {
            type: this.$t("core.users.type")
          })
        });
        this.$router.push("/users");
      } catch (error) {
        console.error(error.message);
        this.$q.notify(
          "ERROR: Retrieving response from server: " + error.message
        );
      }
      this.sending = false;
    }
  },
  async created() {
    try {
      // get data
      const userPromise = this.$feathers
        .service("users")
        .get(this.$route.params.id);
      const rolesPromise = this.$feathers.service("roles").find();
      // store data
      this.user = await userPromise;
      this.user.password = "";
      this.user.passwordRepeat = "";
      // this.user.disabled |= false
      const response = await rolesPromise;
      this.roles = response.data;
    } catch (error) {
      console.error(error.message);
      this.$q.notify("ERROR: Retrieving data from server: " + error.message);
      this.$router.push("/users");
    }
    this.loading = false;
  },
  components: { axLoader, axFormGroup }
};
</script>
